*.iml
.gradle
/local.properties
**/.idea/**
!**/.idea/codeStyleSettings.xml
!**/.idea/copyright
!**/.idea/codeStyles
!.idea/codeStyles/Project.xml
!.idea/codeStyles/codeStyleConfig.xml
!.idea/copyright/AOSP.xml
!.idea/copyright/profiles_settings.xml
!.idea/inspectionProfiles/Project_Default.xml
!.idea/misc.xml
!.idea/vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
