<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2019 The Android Open Source Project
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
-->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.motion">

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Motion"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Motion.CardUi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".demo.dissolve.DissolveActivity"
            android:exported="true"
            android:label="@string/dissolve_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.motion.intent.category.DEMO" />
            </intent-filter>

            <meta-data
                android:name="com.example.android.motion.demo.DESCRIPTION"
                android:value="@string/dissolve_description" />
            <meta-data
                android:name="com.example.android.motion.demo.APIS"
                android:resource="@array/dissolve_apis" />
        </activity>

        <activity
            android:name=".demo.fadethrough.FadeThroughActivity"
            android:exported="true"
            android:label="@string/fade_through_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.motion.intent.category.DEMO" />
            </intent-filter>

            <meta-data
                android:name="com.example.android.motion.demo.DESCRIPTION"
                android:value="@string/fade_through_description" />
            <meta-data
                android:name="com.example.android.motion.demo.APIS"
                android:resource="@array/fade_through_apis" />
        </activity>

        <activity
            android:name=".demo.fabtransformation.FabTransformationActivity"
            android:exported="true"
            android:label="@string/fab_transformation_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.motion.intent.category.DEMO" />
            </intent-filter>

            <meta-data
                android:name="com.example.android.motion.demo.DESCRIPTION"
                android:value="@string/fab_transformation_description" />
            <meta-data
                android:name="com.example.android.motion.demo.APIS"
                android:resource="@array/fab_transformation_apis" />
        </activity>

        <activity
            android:name=".demo.reorder.ReorderActivity"
            android:exported="true"
            android:label="@string/reorder_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.motion.intent.category.DEMO" />
            </intent-filter>

            <meta-data
                android:name="com.example.android.motion.demo.DESCRIPTION"
                android:value="@string/reorder_description" />
            <meta-data
                android:name="com.example.android.motion.demo.APIS"
                android:resource="@array/reorder_apis" />
        </activity>

        <activity
            android:name=".demo.stagger.StaggerActivity"
            android:exported="true"
            android:label="@string/stagger_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.motion.intent.category.DEMO" />
            </intent-filter>

            <meta-data
                android:name="com.example.android.motion.demo.DESCRIPTION"
                android:value="@string/stagger_description" />
            <meta-data
                android:name="com.example.android.motion.demo.APIS"
                android:resource="@array/stagger_apis" />
        </activity>

        <activity
            android:name=".demo.loading.LoadingActivity"
            android:exported="true"
            android:label="@string/loading_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.motion.intent.category.DEMO" />
            </intent-filter>

            <meta-data
                android:name="com.example.android.motion.demo.DESCRIPTION"
                android:value="@string/loading_description" />
            <meta-data
                android:name="com.example.android.motion.demo.APIS"
                android:resource="@array/loading_apis" />
        </activity>

        <activity
            android:name=".demo.oscillation.OscillationActivity"
            android:exported="true"
            android:label="@string/oscillation_label"
            android:theme="@style/Theme.Motion.CardUi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.motion.intent.category.DEMO" />
            </intent-filter>

            <meta-data
                android:name="com.example.android.motion.demo.DESCRIPTION"
                android:value="@string/oscillation_description" />
            <meta-data
                android:name="com.example.android.motion.demo.APIS"
                android:resource="@array/oscillation_apis" />
        </activity>

        <activity
            android:name=".demo.sharedelement.SharedElementActivity"
            android:exported="true"
            android:label="@string/shared_element_label"
            android:theme="@style/Theme.Motion.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.motion.intent.category.DEMO" />
            </intent-filter>

            <meta-data
                android:name="com.example.android.motion.demo.DESCRIPTION"
                android:value="@string/shared_element_description" />
            <meta-data
                android:name="com.example.android.motion.demo.APIS"
                android:resource="@array/shared_element_apis" />
        </activity>

        <activity
            android:name=".demo.containertransform.ContainerTransformActivity"
            android:exported="true"
            android:label="@string/container_transform_label"
            android:theme="@style/Theme.Motion.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.motion.intent.category.DEMO" />
            </intent-filter>

            <meta-data
                android:name="com.example.android.motion.demo.DESCRIPTION"
                android:value="@string/container_transform_description" />
            <meta-data
                android:name="com.example.android.motion.demo.APIS"
                android:resource="@array/container_transform_apis" />
        </activity>

    </application>

</manifest>
